.mode {
  font-size: 30px;
  position: absolute;
  bottom: 0;
  padding: 10px;
  margin: 20px 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: 1px solid gray;
  background-color: #f5f5f5;
}
